<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_site_navbar"></nav>

<div class="container">

    <h3>Order Details</h3>
    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="order-table">
                <thead>
                <tr>
                    <th scope="col">Product ID</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">New Price</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody >
                <tr>
                    <td>1</td>
                    <td>12</td>
                    <td>2</td>
                    <td>24</td>
                    <td>Edit | Delete</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>12</td>
                    <td>2</td>
                    <td>24</td>
                    <td>Edit | Delete</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>12</td>
                    <td>2</td>
                    <td>24</td>
                    <td>Edit | Delete</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>


    <footer th:replace="snippets.html :: name_footer"></footer>

    <script th:src="@{/static/orderRecipet.js}"/></script>

</body>

</html>